@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

  * {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #3f3f3f;
  }
  
  body {
    &::-webkit-scrollbar {
      width: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb-color);
      border-radius: 5px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: var(--scroll-back-color);
      width: 5px;
    }
  }
  
}